# Systemd unit file for default tomcat
# 
# {{ ansible_managed }}

[Unit]
Description="Tomcat instance <{{ tomcat_service_name }}>"
After=syslog.target network.target

[Service]
Type=forking
#EnvironmentFile=/etc/tomcat/tomcat.conf
#Environment="NAME="
#EnvironmentFile=-/etc/sysconfig/tomcat
ExecStart={{ tomcat_path }}/bin/startup.sh
ExecStop={{ tomcat_path }}/bin/catalina.sh stop
User={{ tomcat_user }}
Group={{ tomcat_group }}

[Install]
WantedBy=multi-user.target